.projects {
    display: flex;

    li {
        width: 40%;
        padding-bottom: 2%;
        display: flex;
        justify-content: center;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

}

.head {
    text-align: center;
    padding-bottom: 2.5%;
}

.projectContainer {
    display: flex;
}