.header {
    margin: auto;
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: rgba(62, 62, 62, 0.8);
}

.list {
    display: flex;
    gap: 1rem;
}

.list a {
    text-decoration: none;
    color: white;
}

.list a:hover,
.list a.active {
    color: var(--color-primary-800);
}


